<div class="user_admin_signup">
  <h3>ユーザー登録</h3>
  <h2>Airphpへようこそ</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "　メールアドレス" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "　パスワード（#{@minimum_password_length}文字以上の半角英数字）" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "　パスワード（確認のため再度入力して下さい）" %>
    </div>

    <div class="field">
      <%= f.text_field :nickname, autocomplete: "nickname", placeholder: "　ニックネーム" %>
    </div>

    <div class="field">
      <%= f.text_field :introduction, placeholder: "　一言紹介" %>
    </div>

    <div class="avatar_field">
      <%= f.label :avatar, "　アバター" %><span class="small"> jpg, jpeg, gif, png　</span>
      <%= f.file_field :avatar %>
    </div>

    <div class="actions">
      <%= f.submit "登録する", class: "reserve_button" %>
    </div>
  <% end %>

  <div class="option1">
    <%= render "devise/shared/links" %>
  </div>
</div>
