<div class="container_users">
  <div class="side_menu">
    <ul>
      <li class="marker"><%= link_to "ユーザー管理", users_account_path %></li><br>
      <li class="marker"><%= link_to "ホストルーム新規登録", new_room_path %></li>
      <li class="marker_selected">登録済ホストルーム情報</li>
      <li class="marker"><%= link_to "登録済ホストルーム編集", rooms_edit_select_path %></li>
    </ul>
  </div>
  <div class="main_menu_users">
    <div class="main_content_rooms">
      <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
      <% end %>
      <div class="main_container_rooms_center">
        <h2>自分がホストのルーム一覧</h2>
        <%= search_form_for @q do |f| %>
          <div class="room_search_form">
            <%= f.search_field :room_name_or_room_address_cont, placeholder: " ルーム名または所在地で検索" %>
            <%= f.submit "検索", class: "room_search_button" %>
          </div>
        <% end %>
        <%= render 'shared/roomtop' %>
      </div>
    </div>
  </div>
</div>

