<!DOCTYPE html>
<html>
  <head>
    <title>宿泊施設をレンタル- Airphp -</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header_title"><span class="header_logo">⏅</span> airphp</h1>
        <div class="header_search"><input type="text"></div>
        <p class="header_user">○ユーザーさん</p>
      </div>
    </header>
    <div class="yield">
      <%= yield %>
    </div>
    <footer>
      <h2 class="footer_title">© 2022 Airphp Co.</h2>
    </footer>
  </body>
</html>
