<!DOCTYPE html>
<html>
  <head>
    <title>宿泊施設をレンタル  - Airphp -</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <h1 class="header_title"><span class="header_logo"><%= link_to "⏅", airphp_index_path %></span> <%= link_to "airphp", airphp_index_path %></h1>
        <div class="header_search">
          <%= search_form_for @q, url: airphp_index_path do |f| %>
            <div class="search_flex">
              <div class="search_flex_ad"><%= f.search_field :room_address_cont, placeholder: "場所" %></div>
              <div class="search_flex_key"><%= f.search_field :room_name_or_room_address_or_room_introduction_cont, placeholder: "キーワード" %></div>
              <div><%= f.submit "検索", class: "search_flex_button" %></div>
            </div>
          <% end %>
        </div>
        <p class="header_user"><%= link_to "ホストになる", rooms_path %></p>
        <p class="header_user">
          <% if user_signed_in? %>
            <%= link_to "ユーザーさん", users_path %>
            <%= link_to "プロフィール変更", edit_user_registration_path %>　
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>　
            <%= link_to "#{current_user.nickname}さん", users_path %>
            <% if current_user.avatar? %>
              <%= link_to image_tag(current_user.avatar.url), users_path, class: "user_avatar" %>
            <% else %>
              <%= link_to image_tag('sample.jpeg'), users_path, class: "user_avatar" %>
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>　
            <%= link_to "登録", new_user_registration_path %>
          <% end %>
        </p>
      </div>
    </header>
    <div class="yield">
      <%= yield %>
    </div>
    <footer>
      <h2 class="footer_title">© 2022 Airphp Co.</h2>
    </footer>
  </body>
</html>
